<div class="container mt-2">
  <h1> <%= @list.name %></h1>
  <div>
    <%= @list.name %>
    <% if @list.bookmarks.any? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div> Bookmarks in list: <%= bookmark.comment %>   <%= link_to bookmark_path(bookmark), class: 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" } do %>
    <i class="fa-solid fa-door-open"></i>
    <% end %></div>
      <% end %>
    <% end %>
  </div> 

  <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
  <%= link_to "Back to lists", lists_path %> 
</div>
