<div class="container mt-2">
  <h1> <%= @list.name %></h1>
  <div>
    <%= @list.name %>
    <% if @list.bookmarks.any? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div> Bookmarks in list: <%= bookmark.comment %>   <%= link_to bookmark_path(bookmark), class: 'btn btn-light', data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" } do %>
    <i class="fa-solid fa-door-open"></i>
    <% end %></div>
      <% end %>
    <% end %>
  </div> 

  <% if @list.photo.attached? %>
        <%= cl_image_tag @list.photo.key %>
      <% else %>
        <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
      <% end %>

  <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
  <%= link_to "Back to lists", lists_path %> 
</div>
